<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>">
<title>Deployment status</title>
<h1>Deployment status</h1>
<style>
  td { padding-left: 10px; padding-bottom: 5px;}
</style>
<table>
<tr>
  <th>Service name</th><th>URL</th><th>Success</th><th>Last Deployment</th><th>Relative Time</th><th>Status Badge</th>
<tr>
{% for service in data %}
<tr>
  <td>{{service["name"]}}</td>
  <td><a href="{{service['url']}}">{{service["url"]}}</a></td>
  <td>{{service["success"]}}</td>
  <td>{{service["finishTime"]}}</td>
  <td>{{service["relativeFinishTime"]}}</td>
  <td><img src="/status/{{service["name"]}}.svg" alt="status badge"></td>
</tr>
{% endfor %}
